.movie-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.movie-list h1 {
  grid-column: span 3;
}

.movie {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
}

.movie a {
  display: flex;
  flex-direction: column;
  text-decoration: none;
}

.movie a:hover {
  text-decoration: underline;
}
